


body {

    background: linear-gradient(135deg, #08dc80, #08aaea);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

#new-task-form {
    display: flex;
}




#new-task-form {
    border: white;
    padding: white;
}




input {
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;

}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #45caff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
